{% extends 'body.html' %}
{% block content %}
    <div class="col text-center main-body mt-3 pb-4"> 
      
      <p>The Asian Pacific Mathematics Olympiad (APMO) is a mathematical competition for countries in the Pacific-Rim Region.</p>
      
      <p> The APMO started in 1989. It has the following aims:</p>
      <div class="d-flex">
        <ul class="list-group list-aims mx-auto justify-content-center">
          <li class='list-group-item'> Discovering, encouraging and challenging mathematically gifted high-school students.</li>
          <li class='list-group-item'> Fostering friendly international relations and cooperation between students and teachers throughout the region.</li>
          <li class='list-group-item'> Creating opportunities for the exchange of information on school syllabi and practice.</li>
          <li class='list-group-item'> Encouraging and supporting the mathematical involvement with Olympiad type activities in the participating countries and other countries of the region.</li>
        </ul>
      </div>
    </div>
{% endblock %}
