{% extends 'body.html' %}
{% block content %}


<div class="col-md-6 text-center main-body mt-3 pb-4">
  <h3> APMO Annual Meeting 2019</h3>
  <hr>
  <h4> Agenda </h4>
  <hr>
  
    <ol  class='text-left'>
    <li> Approval of Agenda for APMO Annual General Meeting 2019 </li>
    <li> Approval of APMO Annual General Meeting 2018 minutes </li> 
    <li> APMO Financial Statement by APMO Treasurer </li>
    <li> Reports APMO 2019
    <ul>
    <li> Report by the Chair (Leonardo Martínez, Mexico) </li>
    <li> Report by the Assistant Coordinating Country (Brazil) </li>
    <li> Report by the Moderating Country (Philippines) </li>
    </ul>
    </li>
    <li>  On APMO 2020
    <ul>
    <li> Appointment of Senior Coordinating Country 2020-2022 </li>
    <li> Appointment of Assistant Coordinating Country 2020-2021 </li>
    <li> Appointment of Moderating Country 2020 </li>
    <li> Requests for new observing and participating countries </li>
    <li> Approval APMO 2020 regulations, including APMO 2020 proposed dates: <b> March 9, 2020 </b> and <b> March 10, 2020</b></li>
    <li> Confirmation of contact information or update
    <li> Confirmation of participation </li>
    </li>
    <li> Receipt of APMO 2020 problem proposals </li>
    </ul>
    </li>
    <li> Other topics
    <ul>
    <li> APMO Webpage - Invitation to contribute </li>
    <li> APMO Participation Age </li>
    </li>
    </ol>
    </div>

<div class="col-md-6 text-center main-body mt-3 pb-4"> 
<h4>Files and links</h4>
<hr>
<a href="/static/meeting/A-Funds-2019.pdf" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO Financial Statement</a>
<hr>
<a href="/static/meeting/A-Minute-2018.pdf" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO 2018 Minutes</a>
<hr>
<a href="/year_report/2019" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO 2019 Scores</a>
<hr>
<a href="/static/meeting/A-Probs-Auth-2018.pdf" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO 2019 Problems and Authors</a>
<hr>
<a href="/static/regulations/apmo-reg-2020.pdf" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO 2020 Regulations</a>
<hr>
<a href="https://forms.gle/S97Da3A8RWgiZ3TH9" class="btn btn-success btn-sm active mb-1" role="button" aria-pressed="true">APMO 2020 Confirmation of Participation</a>
</div>

{% endblock %}