{% extends 'body.html' %}
{% block content %}

    <div class="col text-center main-body mt-3 pb-4"> 
      <div class="alert alert-info" role="alert">
        The results for APMO 2025 are now official!
        <!-- The results for APMO 2026 are preliminary! They will soon be considered official. -->
      </div>
      <h3> Timeline APMO  </h3>
      <hr>
      {{table|safe}}
      {{table_short|safe}}

      <p class="d-none d-lg-inline"> * Senior Coordinating Country, Assistant Coordinating Country and Moderating Country.</p>
      <p class="d-inline d-lg-none"> * Cou. - Number of participating countries <p>
      <p class="d-inline d-lg-none"> * Con. - Number of contestants </p>
      <hr>
      <p class="small"> We have scarce information for the pre-2010 era. To contribute, visit the <a href="https://github.com/leomtz/apmowebsite"> GitHub repository</a>.</p>
      </div>


{% endblock %}
